body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
   
}


a {
    color: #11999E;
}

h1 {
    color: #66BFBF;
    font-size: 5.626rem;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;

}

h2 {
    font-weight: normal;
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;

}

.top-container {
    background-color: rgb(218, 243, 255);
    position: relative;

    padding-top: 100px;
}

.sumbit-button{
    background-color: #66BFBF;
    border-radius: 16px 16px;
    margin-bottom: 20px;
    width: 120px;
    height: 40px;
    border: 0;

}

.btn{
    color: white;
}

hr{
    color: #EAF6F6;
    border-style: dotted none none;
    width: 70px;
    border-width: 6px;
}
.skills {}

.middle-container {}

.MyPic {
    width: 200px;

}
 

.bottom-container {
    position: relative;
    top: 20px;
    background-color: #66BFBF;
    padding: 100px;
    margin-bottom: 0px;

}

.pro {
    text-decoration: underline;
}

.Name{
    color: white;
    margin-top: 50px;
}

.first-h2 {
    position: relative;
    padding-bottom: 100px;
}

.mountion {}

.cloud2 {
    position: absolute;
    top: 450px;

}

.cloud1 {
    position: absolute;
    top: 50px;
    right: 300px;
}

.hackerpic {
    width: 25%;
    float: left;
    margin-right: 30px;

}

.Sun {
    width: 25%;
    float: right;
    margin-left: 30px;

}

.footer-link{
   margin-left: 30px;
   margin-right: 30px;
   margin-bottom: 50px;
    
}
.skill-row {
    text-align: left;
    margin: 100px auto 100px auto;
    line-height: 2;
    width: 50%;
}